<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd ">

	<!-- Initialization for data source -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/BankDatabase" />
		<property name="username" value="root" />
		<property name="password" value="mysql" />
	</bean>

	<!-- Definition for UserJDBCTemplate bean -->
	<bean id="UserJdbcTemplate"
		class="org.innominds.intern.BankWebApp.Database.UserJdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="formHandler" class="org.innominds.intern.BankWebApp.UserFormBean">
		<!-- <property name="name" ref="name" />
		<property name="username" ref="username" />
		<property name="password" ref="password" />
		<property name="confirmPassword" ref="confirmPassword" />
		<property name="balance" ref="balance" /> -->
	</bean>



</beans>